@font-face {
    font-family: myFont;
    src: url(assets/Mermaid1001.ttf);
  }

*{
    font-family: myFont;
}

h1{
    margin: 0;
    padding: 0;
}

.main{
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer{
    position: absolute;
    bottom: 4%;
    text-align: center;
    width: 100%;
    font-size: 2vh;
    font-family: sans-serif;
    letter-spacing: 1vh;
    color: #ededed;
    background-color:black;
    left: 0;
    padding: 0.4rem;
}

.nav-bar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

img{
    margin: 0.2rem;
    width: 3rem;
}

.title{
    font-size: 20vh;
    margin: 0px;
    animation-name: title-drop;
    animation-duration: 2s;
}

@keyframes title-drop {
    0%{
        opacity: 0%;
        transform: translateY(-10%);
    }

    100%{
        opacity: 100%;
        transform: translateY(0%);
    }
    
}

.moto{
    font-size: 3vh;
    margin-top: 1vh;
    letter-spacing: 1vh;
    margin-bottom: 25px;
    animation-name: div-fade-in;
    animation-duration: 3s;
}

@keyframes div-fade-in{
    0%{
        opacity: 0;
    }
    
    40%{
        opacity: 0;
    }

    100%{
        opacity: 100%;
    }
}

.go{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    transition: 0.3s;
    border: none;
    background-color: black;
    color: white;
    animation-name: div-fade-in;
    animation-duration: 4s;
}

.go:hover{
    background-color: #CBC3E3;
    color: white;
    width: 15vh;
    border-radius: 30px;
}

.btn-txt1{
    display: inline;
    font-size: 3vh;
}

.btn-txt2{
    font-size: 2.5vh;
    font-family: sans-serif;
    display: none;
    letter-spacing: 0.2vh;
}

.go:hover .btn-txt1{
    display: none;
}

.go:hover .btn-txt2{
    display: inline;
}
